<table class="table table-striped">
	<thead>
		<th>
			Employee
		</th>
		<th>
			Week Starting
		</th>
		<th>
			Confirmed At
		</th>
		<th>
			Status
		</th>
	</thead>
	<tbody>
		<%= render @audit_logs %>
	</tbody>
</table>




